.header-top {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #161d4f;
    margin-bottom: 25px;

    .header-top__link {
        nav {
            ul {
                display: flex;
                align-items: center;
                li {
                    margin-right: 20px;

                    a {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.header-social {
    a {
        margin-right: 7px;
    }
    svg:hover {
        opacity: 0.7;
    }
}