.faq {
    .faq-section {
        &__title {
            color: #fff;
            font-size: 25px;
            font-weight: 500;
            font-style: italic;
            display: block;
            position: sticky;
            text-align: center;
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                background-size: 100%;
                background-repeat: no-repeat;
                top: 47%;
                width: 720px;
                height: 90px;
                z-index: -1;
                transform: translate(-50%,-50%);
                background-position: 50%;
                background-image: url("https://forcedrop.app/public/img/title_flare.png");
            }
            &::after {
                left: 50%;
                bottom: -15px;
                position: absolute;
                z-index: 1;
                content: "";
                width: 145px;
                height: 3px;
                background-color: #f1eaff;
                border-radius: 8px 3px 8px 3px;
                transform: translateX(-50%) skewX(-30deg);
                backface-visibility: hidden;
            }
        }
    }
    .faq-wrapper {
        margin-top: 80px;
        .faq-items {
            .faq-item {
                border-radius: 5px;
                background-color: #ffffff0d;
                width: 100%;
                padding: 30px;
                margin-bottom: 40px;
                &__title {
                    span {
                        line-height: 22px;
                        font-size: 18px;
                        color: rgba(255, 255, 255, 0.671);
                        font-weight: 600;
                    }
                }
                &__text {
                    span {
                        margin-top: 10px;
                        padding-top: 10px;
                        padding-left: 15px;
                        border-top: 1px solid rgba(98,179,255,.1);
                        line-height: 19px;
                        font-size: 14px;
                        color: #fff;
                        display: block;
                        font-weight: 400;
                        padding-left: 30px;
                    }
                }
                &__link {
                    color: #ffbc00;
                    transition: .2s ease;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}