.spinerWrap{
    position: relative;
    z-index: 9999;
    width: 100%;
    padding: 50px 90px;
    border: 2px solid #f19800;
    border-radius: 25px;
    background: rgba(0, 0, 0, .9);
    &::before,
    &::after{
        display: block;
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 35px;
        z-index: 2;
    }
    &::before{
        left: 85px;
        background-image: linear-gradient(to right, #000 5%, rgba(0,0,0,0));
    }
    &::after{
        right: 85px;
        background-image: linear-gradient(to left, #000 5%, rgba(0,0,0,0));
    }
    &__arrow{
        width: 45px;
        height: 45px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        top: -20px;
        &_bot{
            top: auto;
            bottom: -20px;
            transform: translateX(-50%);
        }
    }
}

.spinerLine {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.123);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spiner {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.spinerInner {
    display: flex;
    &__item {
        flex: 0 0 auto;
        padding: 10px;
    }
    &__card{
        margin: 0;
    }
}

.arrow{
    border: 12px solid transparent;
    border-bottom: 24px solid brown;
    width: 0;
    height: 0;
    margin: 0 auto;
}
.btn{
    display: block;
    margin: 20px auto;
    width: 150px;
}