.bonus-prize {
  .prize-section {
    text-align: center;
    .prize-title {
      font-size: 28px;
      line-height: 20px;
      font-weight: 500;
      color: #fff;
      position: relative;
      margin-bottom: 100px;
      background: linear-gradient(45deg, #000000 0%, #0d61bc 55%, #000000);

      &::after {
        left: 50%;
        bottom: -25px;
        position: absolute;
        z-index: 1;
        content: "";
        width: 145px;
        height: 3px;
        background-color: #f1eaff;
        border-radius: 8px 3px 8px 3px;
        transform: translateX(-50%) skewX(-30deg);
        backface-visibility: hidden;
      }
    }
  }
}

.prize-board-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  .prize-board {
    position: relative;
    padding: 30px;
    margin-top: 60px;
    background-color: #00000073;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;

    .prize-item {
      width: 290px;
      .prize-item-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 25px 25px;
        background-color: #ffffff0d;
        text-align: center;
        border: 1px solid #ffffff14;
        border-radius: 8px;
        transition: 0.12s ease;

        .prize-item__subtitle {
          font-size: 14px;
          line-height: 15px;
          font-weight: 500;
          color: #8d8cad;
          font-style: italic;
        }
        .prize-item__price {
          font-size: 22px;
          line-height: 38px;
          font-weight: 700;
          color: #fff;
        }
        .prize-item__winner {
          position: relative;
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 20px 0 15px;
          border-radius: 6px;
          background-color: #ffffff0d;
          transition: 0.12s ease;

          .prize-item__win {
            font-size: 14px;
            line-height: 15px;
            font-weight: 500;
            color: #8d8cad;
            font-style: italic;
          }
          .prize-item__img {
            img {
              width: 100px;
              height: 100px;
              margin-bottom: 12px;
              margin-top: 10px;
              border-radius: 50%;
            }
          }
          .prize-item__userName {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            padding: 0 30px;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }
}

.prize-item__drop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 172px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  transition: .2s ease-in-out;
  margin-top: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 130%;
    transform: translate(-50%,-50%) translateZ(0);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: .2s ease-in-out;
    backface-visibility: hidden;
    background-image: url("https://forcedrop.app/public/img/result_covert1.png?v=2");
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 130%;
    transform: translate(-50%,-50%) translateZ(0);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: .2s ease-in-out;
    backface-visibility: hidden;
    background-image: url("https://forcedrop.app/public/img/result_covert2.png?v=2");
  }

  .item-drop-img {
    width: 220px;

    img {
      width: 100%;
    }
  }

  .prize-item__btn {
    bottom: 10px;
    position: absolute;
    width: 100%;
    z-index: 2;
    margin: -15px 0px 10px;
    padding: 3px 8px;
    font-size: 16px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(24, 49, 24, 0.8);
    transform: skewX(-10deg);
    background-color: rgba(109,174,1,.7);
    border-radius: 3px;
    border: 1px solid #8de101;
    span {
      transform: skewX(10deg);
    }
  }
}

.prize-item__drop:hover:before {
  left: 53%;
}

.prize-item__drop:hover:after {
  left: 47%;
}

.prizes-accord {
  margin: 0 auto;
  width: 50%;
}

.faq-btn {
    background-color: #120f28;
    padding: 15px 10px 15px 20px;
    outline: none;
    border: 1px dashed #ffffff2b;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    svg {
      color: #fff;
      font-size: 20px;
    }
}

.faq-text {
  text-align: left;
  color: #ffffffbf;
  background-color: #120f28;
  font-size: 14px;
  padding-left: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 16px 16px;
}

.accord-title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.accord-block {
  margin-bottom: 15px;
}

.prizes-faq-title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 60px 0px 30px;
  display: block;
}