.header {
    padding: 30px 0px;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff1f;
    margin-bottom: 45px;

    &__menu {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        .header-profile {
            display: flex;
            align-items: center;
            border-right: 1px solid #fb7201;
            padding-right: 16px;
            width: 370px;
            justify-content: space-around;
            margin-right: 20px;

            &__name {
                color: #7E83B0;
                font-weight: 400;
                font-size: 18px;
            }

            &__balance {
                span {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 20px;
                    cursor: default;
                }
            }

            &__deposit {
                background: #f19800;
                border-radius: 10px;
                padding: 10px 24px;
                font-weight: 400;
                font-size: 16px;
                color: #000000;
                outline: none;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                box-shadow: 0px 0px 20px 0px #f3a92b;

                &:hover {
                    background: #df910b
                }
            }

            .header-profile__user {
                position: relative;
                .header-profile__img {
                    margin-right: 15px;
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        cursor: pointer;
                        border: 2px dashed #fffbff;
                    }
                }
                .header-profile__counter {
                    position: absolute;
                    top: 0px;
                    right: -5px;

                    span {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        color: #fff;
                        background-color: #574AE2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.header__link nav ul{
    display: flex;
    align-items: center;
}

.header__link nav ul li a {
    font-weight: 400;
    font-size: 17px;
    color: #c0b5d4;
    margin-right: 24px;
    position: relative;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    svg {
        margin-right: 10px;
    }

    &:before, &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: rgb(255, 255, 255);
        height: 1px;
        transition: all .5s;
    }

    &:hover:after {
        width: 100%;
    }

    &:hover { 
        color: rgb(255, 255, 255);
    }
}

.header__logo {
    border-right: 1px solid #fa7501;
    padding-right: 40px;
    margin-right: 40px;
}

.header__logo a {
    display: flex;
    align-items: center;
    transition: 0.3s;
    width: 150px;

    img {
        transition: 0.3s;
        width: 100%;
    }

    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
}

.header__logotype {
    color: #FFFBFF;
    font-size: 28px;
    font-weight: bold;
    margin-left: 17px;
}

.pay-popup {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-modal {
        width: 650px;
        height: 500px;
        background-color: #17171f;
        border-radius: 6px;
        border: 1px dashed #ffffff3d;

        &__container {
            padding: 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            height: 100%;

            .popup-modal__btn {
                width: 25px;
                height: 20px;
                background: transparent;
                outline: none;
                border: none;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.2);
                }
                
                &:active {
                    svg {
                        fill: #F19A38;
                    }
                }
            }
        }

        &__title {
            p {
                font-size: 25px;
                color: #fff;
                font-weight: 600;
                background: linear-gradient(45deg, #574ae2 33%, #bc0da6 66%, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__sum {
            width: 80%;
            input {
                background-color: #ffffff;
                color: #000000;
                width: 100%;
                height: 40px;
                font-size: 17px;
                padding: 0px 20px;
                outline: none;
                border-radius: 7px;
                outline: none;
            }
        }

        &__limit {
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 20px;
            width: 60%;
            padding: 11px 16px 11px 10px;
            min-height: 55px;
            border-radius: 8px;
            background-color: rgba(255, 221, 69, 0.2);
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            justify-content: space-around;
            color: #fbae21;
        }
        
        &__pay {
            width: 50%;
            height: 40px;
            background-color: #574ae2;
            position: static !important;
            border: none;
            outline: none;
            color: #ffffff;
            transition: 0.3s;
            cursor: pointer;
            border-radius: 12px;

            &:hover {
                background-color: #3427be;
            }
            &:active {
                background-color: #281daa;
            }
        }
    }
}

.popup-tab {
    padding: 15px 20px;
    background-color: rgb(82, 82, 82);
    outline: none;
    border: none;
    color: rgb(211, 211, 211);
    font-weight: 500;
}


.popup-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tab-list {
    width: 100%;
    background-color: #1d1d26;;
}

.tab-card {
    width: 120px;
    height: 80px;
    border-radius: 7px;
    background-color: #1d1d26;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    &:active {
        background-color: #30303b;
    }
    img {
        width: 70px;
    }
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right-profile {
    display: flex;
    align-items: center;
}

.header__menu-btn {
    width: 200px;
    /* width: 130px; */
    // padding: 10px 24px;
    // background-color: #f19800;
    /* height: 41px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    color: #000;
    font-weight: 500;
    border-radius: 12px;
    // border: 2px dashed #ffffff29;
    transition: 0.3s;
    opacity: 0.9;

    img {
        width: 100%;
        transition: 0.3s;
    }

    &:hover {
        opacity: 2;
    }

    &:hover img {
        transform: scale(1.03);
    }
}
.header-svg {
    width: 125px;

    img {
        width: 100%;
    }
}

.header__profile-login {
    margin-right: 50px;

    button {
        padding: 10px 7px;
        background-color: #f19800;
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid #ffffff2b;
        box-shadow: 0px 0px 20px 0px #ff6a00;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #f17400;
        }

        svg {
            margin-right: 5px;
        }
    }
}