.header {
    padding: 30px 0px;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff1f;
    margin-bottom: 45px;

    &__menu {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        .header-profile {
            display: flex;
            align-items: center;
            border-right: 1px solid #fb7201;
            padding-right: 16px;
            width: 370px;
            justify-content: space-around;
            margin-right: 20px;

            &__name {
                color: #7E83B0;
                font-weight: 400;
                font-size: 18px;
            }

            &__balance {
                span {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 20px;
                    cursor: default;
                }
            }

            &__deposit {
                background: #f19800;
                border-radius: 10px;
                padding: 10px 24px;
                font-weight: 400;
                font-size: 16px;
                color: #000000;
                outline: none;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                box-shadow: 0px 0px 20px 0px #f3a92b;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 5px;
                }

                &:hover {
                    background: #df910b
                }
            }

            .header-profile__user {
                position: relative;
                .header-profile__img {
                    margin-right: 15px;
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        cursor: pointer;
                        border: 2px dashed #fffbff;
                    }
                }
                .header-profile__counter {
                    position: absolute;
                    top: 0px;
                    right: -5px;

                    span {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        color: #fff;
                        background-color: #574AE2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.header__link nav ul{
    display: flex;
    align-items: center;
}

.header__link nav ul li a {
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    margin-right: 24px;
    position: relative;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    svg {
        margin-right: 10px;
    }

    &:before, &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: rgb(255, 255, 255);
        height: 1px;
        transition: all .5s;
    }

    &:hover:after {
        width: 100%;
    }

    &:hover { 
        color: rgb(255, 255, 255);
    }
}

.header__logo {
    border-right: 1px solid #fa7501;
    padding-right: 40px;
    margin-right: 40px;
}

.header__logo a {
    display: flex;
    align-items: center;
    transition: 0.3s;
    width: 150px;

    img {
        transition: 0.3s;
        width: 100%;
    }

    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
}

.header__logotype {
    color: #FFFBFF;
    font-size: 28px;
    font-weight: bold;
    margin-left: 17px;
}

.tab-list {
    width: 100%;
    background-color: #1d1d26;;
}

.tab-card {
    width: 120px;
    height: 80px;
    border-radius: 7px;
    background-color: #1d1d26;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    &:active {
        background-color: #30303b;
    }
    img {
        width: 70px;
    }
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right-profile {
    display: flex;
    align-items: center;
}

.header__menu-btn {
    width: 200px;
    /* width: 130px; */
    // padding: 10px 24px;
    // background-color: #f19800;
    /* height: 41px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    color: #000;
    font-weight: 500;
    border-radius: 12px;
    // border: 2px dashed #ffffff29;
    transition: 0.3s;
    opacity: 0.9;

    img {
        width: 100%;
        transition: 0.3s;
    }

    &:hover {
        opacity: 2;
    }

    &:hover img {
        transform: scale(1.03);
    }
}
.header-svg {
    width: 125px;

    img {
        width: 100%;
    }
}

.header__profile-login {
    margin-right: 50px;

    button {
        padding: 10px 7px;
        background-color: #f19800;
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid #ffffff2b;
        box-shadow: 0px 0px 20px 0px #ff6a00;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #f17400;
        }

        svg {
            margin-right: 5px;
        }
    }
}