.header {
    height: 70px;
    background-color: #040305;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #222A68;
    margin-bottom: 25px;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        .header-profile {
            display: flex;
            align-items: center;
            border-right: 1px solid #222A68;
            padding-right: 16px;
            width: 420px;
            justify-content: space-between;

            &__name {
                color: #7E83B0;
                font-weight: 400;
                font-size: 18px;
            }

            &__balance {
                span {
                    color: #F19A38;
                    font-weight: 500;
                    font-size: 20px;
                    cursor: default;
                }
            }

            &__deposit {
                background: #574AE2;
                border-radius: 10px;
                padding: 10px 24px;
                font-weight: 400;
                font-size: 16px;
                color: #FFFBFF;
                outline: none;
                border: none;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background: #4439c2;
                }
            }

            .header-profile__user {
                position: relative;
                .header-profile__img {
                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .header-profile__counter {
                    position: absolute;
                    top: 0px;
                    right: -5px;

                    span {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        color: #fff;
                        background-color: #574AE2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.header__link nav ul{
    display: flex;
    align-items: center;
}

.header__link nav ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFBFF;
    margin-right: 24px;
    position: relative;
    padding-bottom: 10px;

    &:before, &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: rgb(255, 255, 255);
        height: 1px;
        transition: all .5s;
    }

    &:hover:after {
        width: 100%;
    }

    &:hover { 
        color: rgb(255, 255, 255);
    }
}

.header__logo {
    border-right: 1px solid #222A68;
    padding-right: 40px;
    margin-right: 40px;
}

.header__logo a {
    display: flex;
    align-items: center;
}

.header__logotype {
    color: #FFFBFF;
    font-size: 28px;
    font-weight: bold;
    margin-left: 17px;
}

.pay-popup {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-modal {
        width: 450px;
        height: 400px;
        background-color: #2d248f;
        border: 2px solid #885bf1;
        border-radius: 6px;
        transform: skewX(-5deg);

        &__container {
            padding: 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            height: 100%;

            button {
                width: 25px;
                height: 20px;
                background: transparent;
                outline: none;
                border: none;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.2);
                }
                
                &:active {
                    svg {
                        fill: #F19A38;
                    }
                }
            }
        }

        &__title {
            p {
                font-size: 25px;
                color: #fff;
                font-weight: 500;
            }
        }

        &__sum {
            input {
                background-color: transparent;
                color: #ffffff;
                width: 100%;
                height: 40px;
                font-size: 17px;
                border: 1px solid #ffffff;
                padding: 0px 20px;
                outline: none;
            }
        }

        &__limit {
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 20px;
            width: 60%;
            padding: 11px 16px 11px 10px;
            min-height: 55px;
            border-radius: 8px;
            background-color: rgba(255, 221, 69, 0.2);
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            justify-content: space-around;
            color: #fbae21;
        }
    }
}