.opened-case{
    &__title,
    &__price{
        font-size: 24px;
        color: #fff;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
    }
    &__price{
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__txt{
        font-size: 18px;
        color: #fff;
        font-style: italic;
        text-align: center;

        a {
            color: #f19800;
            font-weight: 600;
            text-decoration: underline;
            transition: 0.3s;
            &:hover {
                color: #fff;
            }
        }
    }
    .case__image{
        margin: 20px auto;
        height: auto !important;
        background: url(../../Assets/images/item_incase_milspec.webp) no-repeat 50% 50%;
        background-size: contain;
        border: none;
        img{
            width: 100%;
            height: auto;
        }
        &.case-badge__red{
            background: url(../../Assets/images/item_incase_covert.webp) no-repeat 50% 50%;
            background-size: contain;
        }
    }
    .case-buttons{
        margin-top: 15px;
    }
}