.App {
    background-image: url(./Assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 3686px;
}

.container {
    width: 1470px;
    margin: 0 auto;
}

.LiveContainer {
    width: 100%;
    padding: 0px 40px;
}