@media screen and (max-width: 1270px) {
    .container {
        width: 100% !important;
        padding: 0px 15px;
    }
    .live-card__card {
        height: 60px !important;
        width: 100px !important;
        padding: 0px !important;
    
        .live-card__img {
            width: 80px;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            img {
                width: 100%;
            }
        }
    }
    .header__logo {
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .header-lent {
        flex-direction: column-reverse !important;
    }
    .LiveContainer {
        padding: 0px 15px !important;
    }
    .tab-live .tabLive__list {
        height: 70px !important;
        margin-right: 20px !important;
    }
    .tab-live .tab-btn {
        height: 30px !important;
        width: 30px !important;
    }
    .header__menu-btn {
        display: none !important;
    }
    .header {
        padding: 0px 0px 20px !important;
    }
    .header__right .header-profile .header-profile__user .header-profile__img img {
        width: 50px !important;
        height: 50px !important;
    }
    .header-profile__name {
        font-size: 16px !important;
    }
    .header__right .header-profile__balance span {
        font-size: 16px !important;
    }
    .header__link nav ul li a {
        font-size: 14px !important;
    }
    .header-profile__deposit {
        padding: 10px 25px !important;
        font-size: 12px !important;
        font-weight: 600 !important;
    }
    .header__menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__right {
        width: 100% !important;
    }
    .header-profile {
        border: none !important;
        padding-right: 0 !important;
        width: 100% !important;
        justify-content: space-between !important;
        margin-right: 0px !important;
    }
    .header__left {
        margin-top: 30px !important;
    }
    .container-top {
        padding: 0px 15px !important;
        margin: 0 !important;
    }
    .header-social {
        display: flex;
    }
    .header-social a svg {
        width: 20px !important;
        height: 20px !important;
    }
    .header-top .header-top__link nav ul li a {
        font-size: 10px !important;
    }
    .popup-modal__container {
        padding: 10px !important;
        padding-bottom: 40px !important;
    }
    .popup-modal__title {
        margin-bottom: 45px !important;
    }
    .tab-card {
        width: 110px !important;
    }
    .pay-popup .popup-modal__sum {
        margin-bottom: 30px !important;
    }
    .pay-popup .popup-modal {
        width: 100% !important;
        height: auto !important;
    }
    .bonus-block__wrapper {
        flex-wrap: wrap;
    }
    .bonus-block__wrapper .bonus-card {
        margin-bottom: 30px !important;
    }
    .bonus-banner {
        flex-direction: column;
        align-items: center;
    }
    .prizes-accord {
        width: 100% !important;
    }
    .bumble__1 {
        display: none !important;
    }
    .bumble__2 {
        display: none !important;
    }
    .header-top {
        margin-bottom: 25px !important;
    }
    .wrapper-bumble__1 {
        display: none !important;
    }
    .wrapper-bumble__2 {
        display: none !important;
    }
}

@media screen and (max-width: 470px) {
    .promo-banner .promo-block__code span {
        font-size: 19px;
    }
    .footer-general {
        display: block !important;
    }
    .footer .footer-general .footer-logo p {
        margin-bottom: 45px !important;
    }
    .footer-payment {
        display: none !important;
    }
    .footer {
        margin-top: 50px !important;
    }
    .bonus-prize .prize-section .prize-board-wrapper .prize-board {
        flex-direction: column;
        align-items: center;
        width: 100% !important;
    }
    .header__link nav ul li a {
        text-align: center !important;
        justify-content: space-between !important;
        margin: 0px 10px !important;
    }
    .header-svg {
        width: 65px !important;
    }
    .live-top__container {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    .live-card__card {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    .live-tabs {
        display: flex !important;
        align-items: center !important;
        justify-content: left !important;
        width: 100% !important;
    }
    .case-item__name {
        text-align: center !important;
    }
    .case-content__item {
        height: 120px !important;
        width: 130px !important;
        padding: 5px 0px 0px !important;
        transform: skewX(0deg) !important;
            .case-item__img {
                width: 100px !important;
                img {
                    width: 100% !important;
                }
            }
    }
    .CaseSpinner_spinerWrap__LWxhK {
        padding: 15px 20px !important;
    }
    .CaseSpinner_spinerWrap__LWxhK::before  {
        width: 0px !important;
    }
    .CaseSpinner_spinerWrap__LWxhK::after {
        width: 0px !important;
    }
    .bonus-work__wrapper {
        display: block !important;
    }
    .bonus-work__item {
        margin-bottom: 50px !important;
    }
    .bonus-section-text {
        position: static !important;
        text-align: center !important;
        width: 100% !important;
    }
    .bonus-form {
        position: static !important;
        width: 100% !important;
        margin-top: 50px !important;
        transform: translateX(0%) skewX(0deg) !important;
    }
    .dailybonus .bonus-wrapper .bonus-form .bonus-code button {
        outline: none !important;
        border: none !important;
    }
    .drop-item {
        width: 150px !important;
    }
    .profile-drop {
        padding: 25px 15px !important;
    }
    .profile-drop .drop-tab {
        font-size: 13px !important;
        margin: 0px 10px !important;
    }
    .stat-block {
        padding: 0px 20px !important;
        justify-content: center !important;

        .stat-img {
            display: none !important;
        }
    }
    .prize-board {
        width: 100% !important;
    }
    .prize-item {
        width: 100% !important;
        margin-bottom: 30px !important;
    }
    .prize-item-container {
        flex-direction: column !important;
    }
    .bonus-banner__container {
        flex-direction: column !important;
        width: 100% !important;
        text-align: center !important;
    }
    .bonus-banner {
        width: 100% !important;
        justify-content: center !important;
    }
    .bonus-banner__img {
        display: none !important;
    }
}
